@font-face { font-family: 'GmarketSansLight'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansMedium'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansBold'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff"); font-weight: normal; font-style: normal; }
html { font-size: 16px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; background-color: #ffffff; width: 100vw; overflow-x: hidden; }

.container { position: relative; width: 100%; max-width: 1420px; margin: 0 auto; font-family: 'GmarketSansLight'; color: #2f2f2f; margin-top: 12rem; }
.container .wrapper-desc { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; }
.container .wrapper-desc .desc-img { display: inline-block; width: 50%; }
.container .wrapper-desc .desc-img img { display: block; width: 100%; }
.container .wrapper-desc .desc-info { display: inline-block; width: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 3rem; }
.container .wrapper-desc .desc-info .info-subtitle { font-size: 1rem; line-height: 1.4; }
.container .wrapper-desc .desc-info .info-title { font-family: 'GmarketSansBold'; font-size: 2.25rem; line-height: 1; margin-top: 1.5rem; word-wrap: break-word; word-break: keep-all; }
.container .wrapper-desc .desc-info .info-summary { width: 100%; margin-top: 4rem; word-wrap: break-word; word-break: keep-all; font-size: 1.25rem; }
.container .wrapper-desc .desc-info .info-summary tr { display: block; margin-top: 2.5rem; }
.container .wrapper-desc .desc-info .info-summary tr td { line-height: 1.4; }
.container .wrapper-desc .desc-info .info-summary tr td:nth-of-type(1) { font-family: 'GmarketSansMedium'; width: 8.25rem; }
.container .warpper-content { width: 100%; margin-top: 12.5rem; }
.container .warpper-content .content-title { text-align: center; font-size: 3.5rem; font-family: 'GmarketSansBold'; line-height: 1.2; }
.container .warpper-content .wrapper-content-btn { margin-top: 5.5rem; text-align: center; }
.container .warpper-content .wrapper-content-btn .content-btn { display: inline-block; padding: 1rem 2.4rem 0.8rem; border: 1px solid #2f2f2f; font-size: 1.25rem; line-height: 1; font-family: 'GmarketSansMedium'; margin-left: 1rem; cursor: pointer; }
.container .warpper-content .wrapper-content-btn .content-btn:nth-of-type(1) { margin-left: 0; }
.container .warpper-content .wrapper-content-btn .content-btn:hover { border: 1px solid #3CEE29; background-color: #3CEE29; color: #fff; }
.container .warpper-content .wrapper-content-btn .content-btn.on { border: 1px solid #3CEE29; background-color: #3CEE29; color: #fff; }
.container .warpper-content .content-img { width: 100%; text-align: center; margin-top: 5rem; }
.container .warpper-content .content-img img { max-width: 100%; }
.container .warpper-content .content-img img.img-promo { display: none; }
.container .warpper-content .content-img img.on { display: inline-block; }
.container .floating { display: none; z-index: 9999; position: fixed; bottom: 4rem; right: 2rem; width: 16rem; border-radius: 2rem; background-color: #fff; -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); padding: 2rem 2rem; }
.container .floating.on { display: inline-block; }
.container .floating .floating-text { font-size: 1rem; line-height: 1.4; word-wrap: break-word; word-break: keep-all; }
.container .floating .floating-btn { width: 100%; font-size: 1.4rem; line-height: 2; color: #fff; background-color: #3CEE29; display: block; text-align: center; cursor: pointer; border-radius: 1rem; margin-top: 1rem; font-family: 'GmarketSansMedium'; padding: 0.3rem 1rem 0.2rem 1rem; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

@media screen and (min-width: 320px) and (max-width: 768px) { html { font-size: 14px; }
  .container { margin: 0; padding: 0 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .container .wrapper-desc { margin-top: 9rem; -webkit-box-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .container .wrapper-desc .desc-img { width: 100%; }
  .container .wrapper-desc .desc-info { width: 100%; margin-top: 2rem; padding-left: 0; padding-bottom: 4rem; border-bottom: 1px solid #2f2f2f; }
  .container .wrapper-desc .desc-info .info-subtitle { line-height: 1; }
  .container .wrapper-desc .desc-info .info-title { line-height: 1.2; }
  .container .wrapper-desc .desc-info .info-summary { margin-top: 0; font-size: 1rem; }
  .container .wrapper-desc .desc-info .info-summary tr td:nth-of-type(1) { width: 7rem; }
  .container .warpper-content .wrapper-content-btn .content-btn { font-size: 1rem; margin-left: 0.5rem; }
  .container .floating { width: 14rem; right: 3rem; }
  .container .floating .floating-btn { font-size: 1rem; } }

/*# sourceMappingURL=index.css.map */
