@import '../../common/stylesheets/base/color.scss';
@import '../../common/stylesheets/base/font.scss';
@import '../../common/stylesheets/base/mixin.scss';
@import '../../common/stylesheets/base/variable.scss';
@import '../../common/stylesheets/base/keyframes.scss';
html {
	font-size: $desktop;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	background-color: $bg;
	width: 100vw;
	overflow-x: hidden;
}
.container {
	position: relative;
	width: 100%;
	max-width: 1420px;
	margin: 0 auto;
	font-family: 'GmarketSansLight';
	.intro {
		@include flexbox();
		@include justify-content(flex-end);
		.intro-wrapper {
			display: inline-block;
			width: 100%;
			max-width: 883px;
			text-align: left;
			margin-top: 20rem;
			.intro-img {
				width: 100%;
				@include flexbox();
				.intro-img__minmax {
					@include flexbox();
					@include align-items(end);
					.minmax-text {
						width: 100%;
						max-width: 500px;
						img {
							display: block;
							width: 100%;
						}
					}
					.minmax-tri {
						width: 100%;
						max-width: 30px;
						margin: 0 1rem;
						img {
							display: block;
							width: 100%;
						}
						&.max {
							@include transform(rotate(180deg));
						}
					}
				}
			}
			.intro-title {
				clear: both;
				font-size: 2.5rem;
				color : $black;
				margin-top: 3rem;
			}
			.intro-text {
				font-size: 1.25rem;
				line-height: 1.5;
				color : $black;
				margin-top: 6rem;
				word-break: keep-all;
				word-wrap: break-word;
			}
		}
	}
	.contents {
		.content {
			margin-top: 10rem;
			width: 75%;
			&.right {
				margin-left: 25%;
			}
			.content-slider {
				overflow: hidden;
				.slide {
					position: relative;
					width: 100%;
					max-width: 470px;
					img {
						width: 100%;
						display: block;
					}
					.img-hover {
						position: absolute;
						top: 0;
						left: 0;
						opacity: 0;
					}
					&:hover {
						.img-hover {
							opacity: 1;
						}
					}
				}
			}
			.content-title {
				@include flexbox();
				@include justify-content(space-between);
				margin-top: 3rem;
				.title {
    			    font-family: 'GmarketSansBold';
    			    font-size: 4.75rem;
    			    line-height: 1;
    			    color: $black;
					span {
						font-family: 'GmarketSansLight';
						font-size: 1.25rem;
						vertical-align: top;
						margin-left: 0.5rem;
					}
				}
				.arrow {
					width: 20%;
					max-width: 176px;
					@include flexbox();
					@include justify-content(flex-end);
					.arrow-btn {
						position: relative;
						img {
							width: 100%;
							display: block;
							max-width: 80px;
						}
						.btn-active {
							position: absolute;
							top: 0;
							left: 0;
							opacity: 0;
						}
						&:hover {
							.btn {
								opacity: 0;
							}
							.btn-active {
								opacity: 1;
							}
						}
					}
					.back {
						margin-right: 16px;
					}
				}
			}
			.content-desc {
				font-family: 'GmarketSansLight';
				line-height: 1.4;
				width: 60%;
				word-wrap: break-word;
				word-break: keep-all;
				margin-top: 2.5rem;
			}
		}
	}
}
@media screen and (min-width: 320px) and (max-width: 768px) {
	html {
		font-size: $mobile;
	}
	.container {
		margin:0;
		padding: 0 20px;
		@include box-sizing(border-box);
		.intro {
			.intro-wrapper {
				.intro-img {
					.intro-img__minmax {
						.minmax-text {
						}
						.minmax-tri {
							max-width: 16px;
						}
					}
				}
				.intro-title {
					margin-top: 2rem;
					font-size: 2rem;
				}
				.intro-text {
					margin-top: 5rem;
				}
			}
		}
		.contents {
			.content {
				width: 100%;
				&.right {
					margin-left: 0;
				}
				.content-slider {
					.slide {
						max-width: 280px;
					}
				}		
				.content-title {
					@include align-items(center);
					.title {
    				    font-size: 1.75rem;
						span {
							font-size: 1.1rem;
						}
					}
					.arrow {
						width: 28%;
						.arrow-btn {
							position: relative;
							img {
								max-width: 80px;
							}
						}
						.back {
							margin-right: 10px;
						}
					}
				}
				.content-desc {
					width: 90%;
					margin-top: 1.5rem;
				}	
			}
		}
	}
}