@import '../../../common/stylesheets/base/color.scss';
@import '../../../common/stylesheets/base/font.scss';
@import '../../../common/stylesheets/base/mixin.scss';
@import '../../../common/stylesheets/base/variable.scss';
@import '../../../common/stylesheets/base/keyframes.scss';
html {
	font-size: $desktop;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	background-color: $bg;
	width: 100vw;
	overflow-x: hidden;
}
.not-scroll {
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.container {
	position: relative;
	width: 100%;
	max-width: 1420px;
	margin: 0 auto;
	font-family: 'GmarketSansLight';
	color: $black;
	margin-top: 12rem;
	.wrapper-desc {
		width: 100%;
		@include flexbox();
		.desc-img {
			display: inline-block;
			width: 50%;
			img {
				display: block;
				width: 100%;
			}
		}
		.desc-info {
			display: inline-block;
			width: 50%;
			@include box-sizing(border-box);
			padding-left: 3rem;
			.info-subtitle {
				font-size: 1rem;
				line-height: 1.4;
			}
			.info-title {
				font-family: 'GmarketSansBold';
				font-size: 2.25rem;
				line-height: 1;
				margin-top: 1.5rem;
				word-wrap: break-word;
				word-break: keep-all;
			}
			.info-summary {
				width: 100%;
				margin-top: 4rem;
				word-wrap: break-word;
				word-break: keep-all;
				font-size: 1.25rem;
				tr {
					display: block;
					margin-top: 2.5rem;
					td {
						line-height: 1.4;
						&:nth-of-type(1) {
							font-family: 'GmarketSansMedium';
							width: 8.25rem;
						}
					}
				}
			}
		}
	}
	.warpper-content {
		width: 100%;
		margin-top: 12.5rem;
		position: relative;
	}
	.floating {
		display: none;
		z-index: 9999;
		position: fixed;
		bottom: 4rem;
		right: 2rem;
		width: 16rem;
		border-radius: 2rem;
		background-color: #fff;
		@include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
		padding: 2rem 2rem;
		@include transition(all ease 0.4s);
		&.on {
			display: inline-block;
		}
		&.min {
			width: 4rem;
			padding: 0.5rem;
			.floating-text {
				display: none;
			}
		}
		.floating-text {
			font-size: 1rem;
			line-height: 1.4;
			word-wrap: break-word;
			word-break: keep-all;
			text-align: center;
		}
		.floating-btn {
			width: 100%;
			font-size: 1.4rem;
			line-height: 1;
			color: #fff;
			background-color: $point;
			display: block;
			text-align: center;
			cursor: pointer;
			border-radius: 1rem;
			margin-top: 1rem;
			font-family: 'GmarketSansMedium';
			padding: 1rem 1rem 0.8rem 1rem;
			@include box-sizing(border-box);
			&.min {
				height: 3rem;
				line-height: 3.3rem;
				vertical-align: middle;
				border-radius: 3rem;
				padding: 0;
				margin-top: 2rem;
				span {
					&:nth-of-type(2) {
						display: none;
					}
				}
			}
		}
		.floating-close {
			display: inline-block;
			font-family: 'GmarketSansMedium';
			position: absolute;
			top: -1.5rem;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 3rem;
			height: 3rem;
			font-size: 1.5rem;
			line-height: 3.3rem;
			vertical-align: middle;
			text-align: center;
			border-radius: 1.5rem;
			background-color: #BDBDBD;
			color: white;
			cursor: pointer;
			span {
				&:nth-of-type(2) {
					display: none;
				}
			}
			&.min {
				span {
					&:nth-of-type(1) {
						display: none;
					}
					&:nth-of-type(2) {
						display: inline;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 320px) and (max-width: 768px) {
	html {
		font-size: $mobile;
	}
	.container {
		margin: 0;
		padding: 0 20px;
		@include box-sizing(border-box);
		.wrapper-desc {
			margin-top: 9rem;
			@include flex-direction(column);
			.desc-img {
				width: 100%;
			}
			.desc-info {
				width: 100%;
				margin-top: 2rem;
				padding-left: 0;
				padding-bottom: 4rem;
				border-bottom: 1px solid $black;
				.info-subtitle {
					line-height: 1;
				}
				.info-title {
					line-height: 1.2;
					margin-top: 1rem;
				}
				.info-summary {
					margin-top: 0;
					font-size: 1.2rem;
					tr {
						margin-top: 1.5rem;
						td {
							&:nth-of-type(1) {
								width: 7rem;
							}
						}
					}
				}
			}
		}
		.warpper-content {
		}	
		.floating {
			width: 14rem;
			right: 0;
			left: 0;
			margin: 0 auto;
			&.min {
				right: 1rem;
				left: unset;
				margin: unset;
			}
			.floating-btn {
				font-size: 1rem;
			}
		}
	}
}