@import '../../../common/stylesheets/base/color.scss';
@import '../../../common/stylesheets/base/font.scss';
@import '../../../common/stylesheets/base/mixin.scss';
@import '../../../common/stylesheets/base/variable.scss';
@import '../../../common/stylesheets/base/keyframes.scss';
html {
	font-size: $desktop;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	background-color: $bg;
	width: 100vw;
	overflow-x: hidden;
}
.not-scroll {
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.container {
	position: relative;
	width: 100%;
	font-family: 'GmarketSansLight';
	color: $black;
	margin-top: 12rem;
	.wrapper-desc {
		width: 100%;
		max-width: 1420px;
		margin: 0 auto;
		@include flexbox();
		.desc-img {
			display: inline-block;
			width: 50%;
			img {
				display: block;
				width: 100%;
			}
		}
		.desc-info {
			display: inline-block;
			width: 50%;
			@include box-sizing(border-box);
			padding-left: 3rem;
			.info-subtitle {
				font-size: 1rem;
				line-height: 1.4;
			}
			.info-title {
				font-family: 'GmarketSansBold';
				font-size: 2.25rem;
				line-height: 1;
				margin-top: 1.5rem;
				word-wrap: break-word;
				word-break: keep-all;
			}
			.info-summary {
				width: 100%;
				margin-top: 4rem;
				word-wrap: break-word;
				word-break: keep-all;
				font-size: 1.25rem;
				tr {
					@include flexbox();
					margin-top: 2.5rem;
					td {
						line-height: 1.4;
						&:nth-of-type(1) {
							font-family: 'GmarketSansMedium';
							width: 8.25rem;
						}
						&:nth-of-type(2) {
							width: calc(100% - 8.25rem);
							.summary-btn {
								display: block;
								width: 100%;
								padding: 1.5rem 3rem 1.1rem 3rem;
								border: 1px solid #ff73a1;
								color: #ff73a1;
								line-height: 1;
								text-align: center;
								margin-bottom: 1rem;
								cursor: pointer;
								@include box-sizing(border-box);
								&:hover {
									background-color: #ff73a1;
									color: white;
								}
							}
							p {
								color: $gray4;
							}
						}
					}
				}
			}
		}
	}
	.warpper-content {
		width: 100%;
		margin-top: 12.5rem;
		position: relative;
		.content {
			&#tab01 {
				display: block;
			}
			&#tab02 {
				display: none;
			}
			&#tab03 {
				display: none;
			}
			.ds {
				width: 100%;
				text-align: center;
				background-color: #f3f3f3;
				padding-top: 8rem;
				padding-bottom: 8rem;
				&.pc {
					display: block;
				}
				&.mo {
					display: none;
				}
				&.ds-01 {
					padding: 0;
					img {
						display: block;
						width: 100%;
					}
				}
				&.ds-02 {
					background-color: #04080b;
					img {
						display: block;
						width: 100%;
						max-width: 862px;
						margin: 0 auto;
					}
					.ds-text {
						color: white;
					}
				}
				&.ds-03 {
					img {
						display: block;
						width: 100%;
						max-width: 1480px;
						margin: 0 auto;
					}
				}
				&.ds-04 {
					background-color: #04080b;
					padding-bottom: 0;
					overflow: hidden;
					.ds-04_bg {
						width: 100%;
						max-width: 1462px;
						margin: -19.1rem auto 0 auto;
						img {
							display: block;
							width: 100%;
						}
					}
				}
				&.ds-05 {
					.ds-05_content {
						padding: 0 2rem;
						@include flexbox();
						width: 100%;
						max-width: 1400px;
						margin: 0 auto;
						.content-txt {
							width: 50%;
							@include box-sizing(border-box);
							padding: 2rem 4rem;
							font-size: 1.25rem;
							line-height: 1.8;
							word-wrap: break-word;
							word-break: keep-all;
							text-align: left;
						}
						.content-img {
							width: 50%;
							@include box-sizing(border-box);
							padding: 0 1rem;
							img {
								display: block;
								width: 100%;
							}
						}
					}
				}
				&.ds-06 {
					padding-top: 0;
					img {
						display: block;
						width: 100%;
						max-width: 1422px;
						margin: 0 auto;
					}
				}
				&.ds-07 {
					background-color: #04080b;
					img {
						display: block;
						width: 100%;
						max-width: 1297px;
						margin: 0 auto;
					}
				}
				&.ds-08 {
					div {
						img {
							display: block;
							width: 100%;
							max-width: 1048px;
							margin: 0 auto;
						}
					}
				}
				.ds-pc {
					display: block;
				}
				.ds-mo {
					display: none;
				}
				&.pd-01 {
					background-color: none;
					width: 100%;
					max-width: 1472px;
					margin: 0 auto;
					padding: 0;
					z-index: 5;
					video {
						width: 100%;
					} 
				}
				&.pd-02 {
					background-color: #04080b;
					padding-bottom: 0;
					margin-top: -8.4rem;
					img {
						width: 100%;
						max-width: 1458px;
						margin: 0 auto;
					}
				}
				&.pd-03 {
					background-image: url('../../images/d-content-03-1.png');
					background-repeat: no-repeat;
					background-position: center;
					padding-bottom: 0;
					img {
						width: 100%;
						max-width: 1168px;
						margin: 0 auto;
					}
				}
				&.pd-04 {
					background-color: #04080b;
					padding-bottom: 0;
					video {
						width: 100%;
						max-width: 1242px;
						margin: 0 auto;
					}
					.pd-04_content {
						padding: 0 2rem;
						@include flexbox();
						width: 100%;
						max-width: 1242px;
						margin: 4rem auto 0 auto;
						.content-txt {
							width: 50%;
							@include box-sizing(border-box);
							padding: 5rem 4rem;
							font-size: 1.25rem;
							color: white;
							line-height: 1.8;
							word-wrap: break-word;
							word-break: keep-all;
							text-align: left;
						}
						.content-img {
							width: 50%;
							@include box-sizing(border-box);
							padding: 0 2rem;
							img {
								display: block;
								width: 100%;
							}
						}
					}
				}
				&.pd-05 {
					background-image: url('../../images/d-content-05-1-bg.png');
					background-position: center top;
					background-repeat: no-repeat;
					padding-bottom: 0;
					video {
						position: relative;
    					width: 100%;
    					max-width: 358px;
    					margin: 0 auto 6rem auto;
    					border-radius: 3.2rem;
    					overflow: hidden;
    					@include box-shadow(0 5px 20px rgba(61, 61, 61, 0.3));
					}
					.ds-pc {
						width: 100%;
						max-width: 1466px;
						margin: 0 auto;
						z-index: 5;
					}
					.ds-mo {
						width: 100%;
						z-index: 5;
					}
					.pd-05_filter {
						background-color: #04080b;
						margin-top: -16rem;
						padding: 20rem 0 10rem 0;
						img {
							display: block;
							width: 100%;
							max-width: 1460px;
							margin: 0 auto;
						}
					}
				}
				&.pd-06 {
					background-image: url('../../images/d-content-06-1-bg.png');
					background-repeat: no-repeat;
					background-position: center top;
					.pd-06_content {
						width: 100%;
						max-width: 1440px;
						margin: 0 auto;
						@include flexbox();
						.content-txt {
							width: 38%;
							@include flexbox();
							@include flex-direction(column);
							@include justify-content(flex-end);
							@include box-sizing(border-box);
							text-align: left;
							padding-left: 3rem;
							word-wrap: break-word;
							word-break: keep-all;
							line-height: 1.8;
							img {
								margin-bottom: 3rem;
								max-width: 267px;
							}
						}
						.content-img {
							width: 62%;
							@include flexbox();
							.img-mockup {
								background-image: url('../../images/d-content-06-3.png');
								background-repeat: no-repeat;
								width: 100%;
								max-width: 342px;
								@include box-sizing(border-box);
								padding: 2%;
								margin-left: 11%;
								img {
									width: 100%;
									border-radius: 1.6rem;
									@include box-shadow(0 10px 20px rgba(61, 61, 61, 0.3));
								}
								video {
									width: 100%;
									border-radius: 1.6rem;
									@include box-shadow(0 10px 20px rgba(61, 61, 61, 0.3));
								}
							}
						}
					}
				}
				&.pd-07 {
					background-image: url('../../images/d-content-07-1.png');
					background-repeat: no-repeat;
					background-position: center top;
					background-color: #04080b;
					img {
						display: block;
						width: 100%;
					}
				}
				&.pd-08 {
					background-image: url('../../images/d-content-08-1.png');
					background-repeat: no-repeat;
					background-position: center top;
					.pd-08_content {
						position: relative;
						width: 87.5%;
						margin-left: 12.5%;
						@include flexbox();
						.content-txt {
							width: 37.6%;
							@include flexbox();
							@include flex-direction(column);
							@include box-sizing(border-box);
							text-align: left;
							padding-top : 30%;
							padding-left: 3rem;
							padding-right: 3rem;
							word-wrap: break-word;
							word-break: keep-all;
							line-height: 1.8;
							img {
								margin-bottom: 3rem;
								max-width: 292px;
							}
						}
						.content-img {
							width: 62.4%;
							img {
								display: block;
							}
						}
					}
				}
				&.pd-09 {
					background-color: #04080b;
					padding-bottom: 0;
					.pd-09_content {
						width: 100%;
						max-width: 1440px;
						margin: 0 auto;
						@include flexbox();
						.content-img {
							width: 62%;
							img {
								width: 100%;
								max-width: 760px;
								margin: 0 auto;
								display: block;
							}
						}
						.content-txt {
							width: 38%;
							text-align: left;
							@include flexbox();
							@include flex-direction(column);
							@include justify-content(center);
							@include box-sizing(border-box);
							padding-right: 3rem;
							img {
								width: 100%;
								max-width: 274px;
								margin-bottom: 3rem;
							}
							p {
								word-wrap: break-word;
								word-break: keep-all;
								line-height: 1.8;
								color: white;
								span {
									font-size: 0.5rem;
									vertical-align: super;
									color: #ff73a1;
								}
							}
						}
					}
				}
				&.pd-10 {
					position: relative;
					img {
						width: 100%;
						display: block;
					}
					.pd-10_txt {
						position: absolute;
						top: 40%;
						left: 15%;
						width: 20%;
						word-wrap: break-word;
						word-break: keep-all;
						line-height: 1.8;
						text-align: left;
						span {
							font-size: 0.5rem;
							vertical-align: super;
							color: #ff73a1;
						}
					}
				}
				&.bx-01 {
					padding: 0;
					img {
						width: 100%;
						display: block;
					}
				}
				&.bx-02 {
					margin-top: 1rem;
					background-image: url('../../images/b-content-02_bg.png');
					background-repeat: no-repeat;
					background-position: center top;
				}
				&.bx-03 {
					background-color: #363636;
					img {
						width: 100%;
						max-width: 1187px;
						margin: 4rem auto 0 auto;
					}
				}
				&.bx-04{
					video {
						width: 100%;
						max-width: 1062px;
						display: block;
						margin: 0 auto;
						border: 3px solid #04080b;
						border-radius: 3rem;
					}
					.bx-04_filter {
						width: 100%;
						overflow: hidden;
						margin-top: 5rem;
						.filter-wrapper {
							width: 168vw;
							@include flexbox();
							.filter {
								width: 30%;
								max-width: 492px;
								margin-left: 3%;
								img {
									width: 100%;
									display: block;
								}
							}
						}
					}
				}
				&.bx-05{
					background-color: #efe3df;
					.bx-05_content{
						width: 100%;
						max-width: 1440px;
						padding: 0 10px;
						margin: 0 auto;
						@include box-sizing(border-box);
						@include flexbox();
						@include align-items(center);
						.content-img {
							display: inline-block;
							width: 62.5%;
							img {
								width: 100%;
								display: block;
								max-width: 1064px;
							}
						}
						.content-txt {
							display: inline-block;
							width: 37.5%;
							word-wrap: break-word;
							word-break: keep-all;
							line-height: 1.8;
							@include box-sizing(border-box);
							padding: 0 3rem;
							text-align: left;
						}
					}
				}
				.ds-title {
					margin-bottom: 5rem;
					.ds-title_up {
						text-align: center;
						color: #ff73a1;
						font-size: 1.1rem;
						line-height: 1.7;
					}
					.ds-title_down {
						font-family: 'GmarketSansBold';
						text-align: center;
						color: #2f2f2f;
						font-size: 2.5rem;
						line-height: 1;
						&.white {
							color: white;
						}
					}
				}
				.ds-text {
					width: 500px;
					margin: 5rem auto 0 auto;
					font-size: 1.25rem;
					line-height: 1.8;
					word-wrap: break-word;
					word-break: keep-all;
					text-align: center;
					strong {
						font-family: 'GmarketSansMedium';
						color: #ff73a1;
					}
					&.white {
						color: white;
					}
				}
				.bx-btn-wrapper {
					display: inline-block;
					margin: 0 auto 3rem auto;
					.bx-btn {
						display: inline-block;
						font-size: 1.2rem;
						padding: 1.5rem 3rem 1.1rem 3rem;
						border: 1px solid #ff73a1;
						color: #ff73a1;
						line-height: 1;
						text-align: center;
						cursor: pointer;
						@include box-sizing(border-box);
						margin-left: 2rem;
						&:nth-of-type(1) {
							margin-left: 0;
						}
						&.active, &:hover {
							color: white;
							background-color: #ff73a1;
						}
					}
				}
				.bx-wrapper {
					width: 100%;
					max-width: 1440px;
					padding: 0 10px;
					margin: 0 auto;
					@include box-sizing(border-box);
					.bx-content {
						&#bx01 {
							display: block;
							padding: 0;
							@include box-shadow(0 5px 20px rgba(61,61,61,0.3));
							img {
								display: block;
								width: 100%;
							}
						}
						&#bx02 {
							display: none;
						}
						.bx-part {
							@include flexbox();
							@include justify-content(space-between);
							@include align-items(center);
							margin-top: 8rem;
							text-align: left;
							.bx-part_desc {
								display: inline-block;
								width: 37.5%;
								word-wrap: break-word;
								word-break: keep-all;
								.bx-part_desc-title {
									font-size: 1.25rem;
									font-family: 'GmarketSansBold';
									line-height: 1;
									margin-top: 4rem;
									&:nth-of-type(1) {
										margin-top: 1rem;
									}
									&.white {
										color: white;
									}
								}
								.bx-part_desc-body {
									margin-top: 1.5rem;
									font-size: 1.25rem;
									line-height: 1.6;
									&.white {
										color: white;
									}
								}
							}
							.bx-part_img {
								display: inline-block;
								width: 62.5%;
								img {
									display: block;
									width: 100%;
									@include box-shadow(0 5px 20px rgba(61,61,61,0.3));
								}
							}
						}
					}
				}
			}
		}
	}
	.ds-btn-wrapper {
		.ds-btn {
			width: 100%;
			max-width: 425px;
			margin: 2rem auto 0 auto;
			cursor: pointer;
			&:nth-of-type(1) {
				margin-top: 6rem;
			}
			img {
				display: block;
				width: 100%;
			}
		}
	}
	.floating {
		display: none;
		z-index: 9999;
		position: fixed;
		bottom: 4rem;
		right: 2rem;
		width: 16rem;
		border-radius: 2rem;
		background-color: #fff;
		@include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
		padding: 2rem 2rem;
		@include transition(all ease 0.4s);
		&.on {
			display: inline-block;
		}
		&.min {
			width: 4rem;
			padding: 0.5rem;
			.floating-text {
				display: none;
			}
		}
		.floating-text {
			font-size: 1rem;
			line-height: 1.4;
			word-wrap: break-word;
			word-break: keep-all;
			text-align: center;
		}
		.floating-btn {
			width: 100%;
			font-size: 1.4rem;
			line-height: 1;
			color: #fff;
			background-color: $point;
			display: block;
			text-align: center;
			cursor: pointer;
			border-radius: 1rem;
			margin-top: 1rem;
			font-family: 'GmarketSansMedium';
			padding: 1rem 1rem 0.8rem 1rem;
			@include box-sizing(border-box);
			&.min {
				height: 3rem;
				line-height: 3.3rem;
				vertical-align: middle;
				border-radius: 3rem;
				padding: 0;
				margin-top: 2rem;
				span {
					&:nth-of-type(2) {
						display: none;
					}
				}
			}
		}
		.floating-close {
			display: inline-block;
			font-family: 'GmarketSansMedium';
			position: absolute;
			top: -1.5rem;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 3rem;
			height: 3rem;
			font-size: 1.5rem;
			line-height: 3.3rem;
			vertical-align: middle;
			text-align: center;
			border-radius: 1.5rem;
			background-color: #BDBDBD;
			color: white;
			cursor: pointer;
			span {
				&:nth-of-type(2) {
					display: none;
				}
			}
			&.min {
				span {
					&:nth-of-type(1) {
						display: none;
					}
					&:nth-of-type(2) {
						display: inline;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 320px) and (max-width: 768px) {
	html {
		font-size: $mobile;
	}
	.container {
		margin: 0;
		padding: 0 20px;
		@include box-sizing(border-box);
		.wrapper-desc {
			margin-top: 9rem;
			@include flex-direction(column);
			.desc-img {
				width: 100%;
			}
			.desc-info {
				width: 100%;
				margin-top: 2rem;
				padding-left: 0;
				padding-bottom: 4rem;
				border-bottom: 1px solid $black;
				.info-subtitle {
					line-height: 1;
				}
				.info-title {
					line-height: 1.2;
					margin-top: 1rem;
				}
				.info-summary {
					margin-top: 0;
					font-size: 1.2rem;
					table-layout: fixed;
					tr {
						margin-top: 1.5rem;
						td {
							&:nth-of-type(1) {
								width: 7rem;
							}
						}
					}
				}
			}
		}
		.warpper-content {
			.content {
				.ds {
					padding: 8rem 1rem;
					@include box-sizing(border-box);
					&.pc {
						display: none;
					}
					&.mo {
						display: block;
					}
					&.ds-01 {
						padding: 0;
					}
					&.ds-05 {
						.ds-05_content {
							padding: 0;
							@include flex-direction(column);
							.content-txt {
								width: 100%;
								padding: 0 2rem 4rem 2rem;
								font-size: 1rem;
								text-align: center;
							}
							.content-img {
								width: 100%;
							}
						}
					}
					&.bx-04{
						video {
							border-radius: 1.5rem;
						}
						.bx-04_filter {
							.filter-wrapper {
								width: 168vw;
							}
						}
					}
					&.bx-05{
						.bx-05_content{
							@include flex-direction(column);
							@include align-items(unset);
							.content-img {
								width: 100%;
							}
							.content-txt {
								width: 100%;
								margin-top: 3rem;
								text-align: center;
							}
						}
					}	
					.ds-pc {
						display: none;
					}
					.ds-mo {
						display: block;
					}
					.ds-text {
						width: 100%;
						font-size: 1rem;
						margin: 4rem auto 0 auto;
					}
					.ds-title {
						margin-bottom: 4rem;
						.ds-title_down {
							font-size: 2rem;
							line-height: 1.4;
						}
					}
					.bx-btn-wrapper {
						@include flexbox();
						@include flex-direction(column);
						.bx-btn {
							font-size: 1rem;
							margin-left: 0;
							margin-top: 1rem;
						}
					}
					.bx-wrapper {
						.bx-content {
							.bx-part {
								@include flex-direction(column);
								@include justify-content(unset);
								.bx-part_desc {
									@include order(2);
									width: 100%;
									.bx-part_desc-title {
										&:nth-of-type(1) {
											margin-top: 3rem;
										}
									}
								}
								.bx-part_img {
									@include order(1);
									width: 100%;
								}
							}
						}
					}
				}
				.ds-btn {
					max-width: 70%;
				}
			}
		}	
		.floating {
			width: 14rem;
			right: 0;
			left: 0;
			margin: 0 auto;
			&.min {
				right: 1rem;
				left: unset;
				margin: unset;
			}
			.floating-btn {
				font-size: 1rem;
			}
		}
	}
}